.card-face-view {
    display: block;
}

.expanded-view {
    display: none;
}

@media (min-height: 400px) {
    .card-face-view {
        display: none;
    }

    .expanded-view {
        display: block;
    }
}

body {
    background-color: #ffffff;
    color: #231907;
    font-family: 'Roboto';
    font-size: 16px;
    height: 100vh;
    line-height: 25px;
    padding: 0 20px;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #007759;
}

.card-face-container {
    max-width: 300px;
    width: 100%;
}

.card-face-info {
    align-items: center;
    display: flex;
    font-size: 13px;
    margin-top: -12px;
}

.card-face-info svg {
    fill: #007759;
    margin-left: 16px;
    margin-right: 10px;
    width: 24px;
}

.expanded-info {
    align-items: center;
    font-size: 13px;
    margin-top: 12px;
    max-width: 500px;
}

.main-image {
    border-radius: 20px;
    margin: 7px 0;
    max-width: calc(100% - 20px);
    width: 500px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #20201e;
        color: #e6e6e6;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1b9885;
    }

    .card-face-info svg {
        fill: #1b9885;
    }
}