<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plugin Framework QA</title>
    <style>
        body {
        background-color: lightblue;
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;;
        }
    </style>
    </head>
    <body>
    <div> 
        <p>Success! You have a static plugin running.</p>
    </div>
    </body>
</html>